@import "./questionAndAnswerContainer.scss";
@import "./moneyTreeContainer.scss";
@import "./endGameContainer.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap");

* {
  font-family: "roboto";
}

@media screen and (max-width: 768px) {
  .background__container {
    display: flex;
  }

  #invisible {
    display: none;
  }

  #background {
    background-image: url(../images/base_image.jpg);
  }
}

@media screen and (min-width: 768px) {
  .background__container {
    display: flex;
  }

  #invisible {
    display: none;
  }

  #background {
    background-image: url(../images/base_image.jpg);
  }
}
